<div class="container">
    <p>Agregar empleado</p>
    <div class="row">
        <div class="col-sm-6">
            <form>
                <div class="mb-3">
                    <label class="form-label">Nombre del empleado</label>
                    <input [(ngModel)]="empleado.nombre" type="text" class="form-control" name="nombre">
                </div>

                <div class="mb-3">
                    <label class="form-label">Apellido del empleado</label>
                    <input [(ngModel)]="empleado.apellido" type="text" class="form-control" name="apellido">
                </div>

                <div class="mb-3">
                    <label class="form-label">Numero de Telefono del empleado</label>
                    <input [(ngModel)]="empleado.numeroTelefono" type="text" class="form-control" name="numeroTelefono">
                </div>

                <div class="mb-3">
                    <label class="form-label">Tipo de Sangre</label>
                    <select name ="tipoDeSangre" id="tipoDeSangre" class="form-select" [(ngModel)]="empleado.tipoDeSangre">
                        <option  name="tipoDeSangre" [(ngModel)]="empleado.tipoDeSangre" value="A+">A+</option>
                        <option  name="tipoDeSangre" [(ngModel)]="empleado.tipoDeSangre" value="A-">A-</option>
                        <option  name="tipoDeSangre" [(ngModel)]="empleado.tipoDeSangre" value="B+">B+</option>
                        <option  name="tipoDeSangre" [(ngModel)]="empleado.tipoDeSangre" value="B-">B-</option>
                        <option  name="tipoDeSangre" [(ngModel)]="empleado.tipoDeSangre" value="AB+">AB+</option>
                        <option  name="tipoDeSangre" [(ngModel)]="empleado.tipoDeSangre" value="AB-">AB-</option>
                        <option  name="tipoDeSangre" [(ngModel)]="empleado.tipoDeSangre" value="O+">O+</option>
                        <option  name="tipoDeSangre" [(ngModel)]="empleado.tipoDeSangre" value="O-">O-</option>
                      </select>
                </div>

                <div class="form-group">
                    <label class="form-label">Rol</label>
                    <select name="idRol" [(ngModel)]="empleado.idRol" class="form-control">
                        <option value="{{idRoles.idRol}}" *ngFor="let idRoles of ListarRol">{{idRoles.descripcionPuesto}}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-label">Contacto</label>
                    <select name="idContactoEmergencia" [(ngModel)]="empleado.idContactoEmergencia" class="form-control">
                        <option value="{{contacto.idContactoEmergencia}}" *ngFor="let contacto of ListarContactoEmergencia">{{contacto.nombre}}-{{contacto.apellido}}-{{contacto.numeroTelefono}}</option>
                    </select>
                </div>
			
				<div class="mb-3">
                    <label class="form-label">Fotografia del empleado</label>
                    <input [(ngModel)]="empleado.fotografia" type="text" class="form-control" name="fotografia">
                </div>

                <button (click)="agregar()">Agregar</button>
            </form>
            
        </div>
     
        <div class="col-sm-6">
            <form>
                <div class="mb-3">
                    <img src="{{empleado.fotografia}}" alt="" width="100" height="100">
                    
                </div>
                
                <div class="mb-3">
                    <label class="form-label">{{empleado.nombre}} {{empleado.apellido}}</label>
                    
                </div>
            </form>
    
        </div>
    </div>
    
</div>
