<div class="container">
    <p>Agregar cliente</p>
    <div class="row">
        <div class="col-sm-6">
            <form>
                <div class="mb-3">
                    <label class="form-label">Nombre del cliente</label>
                    <input [(ngModel)]="cliente.nombre" type="text" class="form-control" name="nombre">
                </div>
                
                <div class="mb-3">
                    <label class="form-label">Apellido del cliente</label>
                    <input [(ngModel)]="cliente.apellido" type="text" class="form-control" name="apellido">
                </div>

                <div class="mb-3">
                    <label class="form-label">Direccion</label>
                    <input [(ngModel)]="cliente.direccion" type="text" class="form-control" name="direccion">
                </div>

                <div class="mb-3">
                    <label class="form-label">Nit</label>
                    <input [(ngModel)]="cliente.nit" type="text" class="form-control" name="nit">
                </div>

                <div class="mb-3">
                    <label class="form-label">Telefono</label>
                    <input [(ngModel)]="cliente.telefono" type="text" class="form-control" name="telefono">
                </div>

                <div class="mb-3">
                    <label class="form-label">Email</label>
                    <input [(ngModel)]="cliente.email" type="text" class="form-control" name="email">
                </div>

                <button (click)="agregar()">Agregar</button>
            </form>
            
        </div>
     
    </div>
    
</div>
