<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand"><img src="https://img.freepik.com/free-vector/minimal-transport-logo-template_416562-1124.jpg" alt="" width="150" height="100"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <button routerLink="/inicio" type="button" class="btn btn-accent" style="color:white">Maquinaria</button>
        </li>
        <li class="nav-item">
          <button routerLink="/inicioProveedores"  style="color:white" type="button" class="btn btn-accent" >Proveedores</button>
        </li>
        <li class="nav-item">
          <button routerLink="/inicioEmpleados"  style="color:white" type="button" class="btn btn-accent" >Empleados</button>
        </li>
        <li class="nav-item">
          <button routerLink="/inicioUsers"  style="color:white" type="button" class="btn btn-accent" >Users</button>
        </li>
        <li class="nav-item">
          <button routerLink="/inicioClientes"  style="color:white" type="button" class="btn btn-accent" >Clientes</button>
        </li>        
        <li class="nav-item">
          <button routerLink="/inicioRutas"  style="color:white" type="button" class="btn btn-accent" >Rutas</button>
        </li>        
        <li class="nav-item">
          <button onclick="location.href='http://localhost:4200/'" style="color:white" type="button" class="btn btn-accent">Log Out</button>
        </li>
      </ul>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>