<div class="container">
    <p>Agregar Usuario</p>
    <div class="row">
        <div class="col-sm-6">
            <form>
                <div class="mb-3">
                    <label class="form-label">Nombre del Usuario</label>
                    <input [(ngModel)]="users.name" type="text" class="form-control" name="name">
                </div>
                
                <div class="mb-3">
                    <label class="form-label">Email</label>
                    <input [(ngModel)]="users.email" type="text" class="form-control" name="email">
                </div>

                <div class="mb-3">
                    <label class="form-label">Contraseña</label>
                    <input [(ngModel)]="users.password" type="password" class="form-control" name="password">
                </div>

                <div class="mb-3">
                    <label class="form-label">fotografia del users</label>
                    <input [(ngModel)]="users.fotografia" type="text" class="form-control" name="fotografia">
                </div>
				
                <button (click)="agregar()">Agregar</button>
            </form>
            
        </div>
     
        <div class="col-sm-6">
            <form>
                <div class="mb-3">
                    <img src="{{users.fotografia}}" alt="" width="100" height="100">
                    
                </div>
                
                <div class="mb-3">
                    <label class="form-label">{{users.name}}</label>
                    
                </div>
            </form>
    
        </div>
    </div>
    
</div>
 
 